# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# Resend API Key
RESEND_API_KEY=re_4zWip7uS_HvzE8i5v91eudf2KKS5Hmyp1

# App URL
APP_URL=https://ais-dev-ykn7bjgmz6crhpfzu6mjl4-44044545959.asia-southeast1.run.app
